---
import Layout from "../layouts/Layout.astro";
import PortfolioCard from "../components/PortfolioCard.astro";
import { Mail, MapPin, Linkedin, Github } from "lucide-astro";
import { Image } from "astro:assets";
import profile from "../assets/profile.jpg";
import chessratings_logo from "../assets/portfolio/chessratings_logo.png";
import pixelandmango_logo from "../assets/portfolio/pixelandmango_logo.png";
import vpelns_logo from "../assets/portfolio/vpelns_logo.png";
---

<Layout title="Bumbulis">
  <main class="text-white flex flex-1 flex-col items-center justify-center">
    <div class="bg-gray-100 pb-12 px-4 print:px-0 print:pb-0 sm:px-6 lg:px-8">
      <div
        class="max-w-5xl mx-auto bg-white print:shadow-none print:rounded-none shadow-xl rounded-lg overflow-hidden"
      >
        <div class="flex flex-col md:flex-row">
          {/* Left Column */}
          <div class="w-full md:w-1/3 bg-gray-800 p-8 text-white">
            <div class="flex justify-center">
              <Image
                src={profile}
                alt="Profile"
                width="150"
                height="150"
                class="rounded-full border-4 border-white"
              />
            </div>
            <h1 class="text-2xl font-bold mt-4 text-center">
              Kristaps Bumbulis
            </h1>
            <p class="text-gray-400 text-center">Software Engineer</p>
            <div class="mt-6 space-y-4">
              <div class="flex items-center">
                <Mail class="w-5 h-5 mr-2" />
                <span>kristaps@bumbulis.lv</span>
              </div>
              <!-- <div class="flex items-center">
                <Phone class="w-5 h-5 mr-2" />
                <span>+371 (555) 123-4567</span>
              </div> -->
              <div class="flex items-center">
                <MapPin class="w-5 h-5 mr-2" />
                <span>Liepaja, Latvia</span>
              </div>
              <div class="flex items-center">
                <Linkedin class="w-5 h-5 mr-2" />
                <a
                  href="https://www.linkedin.com/in/kristaps-bumbulis-10702976/"
                  target="_blank"
                  class="hover:underline"
                >
                  linkedin.com/in/kristaps-bumbulis
                </a>
              </div>
              <div class="flex items-center">
                <Github class="w-5 h-5 mr-2" />
                <a
                  href="https://github.com/pcsssss"
                  target="_blank"
                  class="hover:underline">github.com/pcsssss</a
                >
              </div>
            </div>
            <div class="mt-8">
              <h2 class="text-xl font-semibold mb-2">Languages</h2>
              <div class="flex flex-wrap gap-2">
                <span class="bg-gray-700 px-2 py-1 rounded text-sm">
                  Latvian - Native
                </span>
                <span class="bg-gray-700 px-2 py-1 rounded text-sm">
                  English - C1
                </span>
                <span class="bg-gray-700 px-2 py-1 rounded text-sm">
                  Russian - B2
                </span>
              </div>
              <h2 class="text-xl font-semibold mb-2 mt-6">Skills</h2>
              <div class="flex flex-col gap-2">
                <div class="flex flex-wrap gap-2 border-b border-gray-700 pb-2">
                {
                  [
                    "Python",
                    "JavaScript",
                    "TypeScript",
                    "Go",
                  ].map((skill) => (
                    <span class="bg-gray-700 px-2 py-1 rounded text-sm">
                      {skill}
                    </span>
                  ))
                }
                </div>
                <div class="flex flex-wrap gap-2">
                {
                  [
                    "Django",
                    "Next.js",
                    "Node.js",
                    "S3",
                    "Docker",
                    "Redis",
                    "Cloudflare",
                    "CSS/Tailwind",
                    "PostgreSQL",
                    "Kubernetes",
                    "Linux",
                    "Git",
                    "CI/CD",
                    "RabbitMQ",
                    "Astro",
                  ].map((skill) => (
                    <span class="bg-gray-700 px-2 py-1 rounded text-sm">
                      {skill}
                    </span>
                  ))
                }
                </div>
              </div>
            </div>
          </div>

          {/* Right Column */}
          <div class="w-full md:w-2/3 p-8 print:py-0">
            <section class="mb-8 print:pt-12">
              <h2 class="text-2xl text-gray-700 font-bold mb-4">
                Work Experience
              </h2>
              <div class="space-y-6">
                <div>
                  <h3 class="text-xl font-semibold text-gray-700">
                    Senior software engineer
                  </h3>
                  <p class="text-gray-600">Giraffe360 SIA | 2017 - Present</p>
                  <a
                    href="https://giraffe360.com"
                    target="_blank"
                    class="hover:underline text-blue-400"
                  >
                    giraffe360.com
                  </a>
                  <ul class="list-disc list-inside mt-2 text-gray-700">
                    <li>
                      Joined in the early days of the company and helped shape
                      the backend, internal tools and the on-prem
                      infrastructure.
                    </li>
                    <li>
                      Core developer of the on-prem backend. Django, postgres,
                      celery, docker, gitlab CI/CD, kubernetes, redis, rabbitMQ,
                      websockets, S3.
                    </li>
                    <li>
                      Core developer of an internal tool for project management.
                      Node.js, react, electron, websockets, PhotoshopSDK, gitlab
                      CI/CD.
                    </li>
                    <li>
                      Instigated and led some of the largest technological
                      pivots for the on-prem infrastructure.
                    </li>
                    <li>
                      Worked closely with stakeholders regarding new feature
                      implementation.
                    </li>
                    <li>
                      Mentored junior developers and conducted code reviews.
                    </li>
                    <li>
                      Participated in interviews and hiring process for new
                      developers.
                    </li>
                    <li>
                      Led onboarding of new developers and provided training
                      sessions.
                    </li>
                  </ul>
                </div>
                <div>
                  <h3 class="text-xl font-semibold text-gray-700">
                    IT systems administrator
                  </h3>
                  <p class="text-gray-600">LSEZ Terrabalt SIA | 2011 - 2017</p>
                  <a
                    href="https://terrabalt.lv"
                    target="_blank"
                    class="hover:underline text-blue-400">terrabalt.lv</a
                  >
                  <ul class="list-disc list-inside mt-2 text-gray-700">
                    <li>
                      Managed company's IT infrastructure, including servers and
                      network.
                    </li>
                    <li>E-mail server setup and maintenance with postfix.</li>
                    <li>File server setup and maintenance.</li>
                    <li>Setup and maintenance of company's website.</li>
                    <li>
                      Setup and maintenance of company's internal software.
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="print:break-inside-avoid print:h-screen">
              <h2 class="text-2xl text-gray-700 font-bold mb-4 print:pt-12">Portfolio</h2>
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 print:flex-1 print:flex print:flex-col">
                <PortfolioCard
                  href="https://pixelandmango.com"
                  title="pixelandmango.com"
                  description="Personal project. A full stack platform for photographers to deliver their work to clients including automated communication, image selection, paywalls and more. Backend/frontend built with next.js. Uploader binary built with Go. Custom Lightroom plugin written in LUA."
                  tech="Go, Next.js, Redis, Cloudflare, Docker, PostgreSQL, Adobe Lightroom SDK - LUA"
                  logo={pixelandmango_logo}
                />
                <PortfolioCard
                  href="https://vpelns.lv"
                  title="vpelns.lv"
                  description="A portfolio website for a local photographer."
                  tech="Django, PostgreSQL, Docker"
                  logo={vpelns_logo}
                />
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
