---
import { Image } from "astro:assets";

interface Props {
  post: any
}

const { post } = Astro.props;

const formattedDate = new Date(post.data.date).toLocaleDateString('en-GB', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric'
}).replace(/\//g, '.');

// const postImage = post.data.preview_image || null;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/post_images/*.{jpeg,jpg,png,gif}');
const imagePath = post.data.preview_image;
---

<div class="w-full overflow-hidden">
  <div class="p-4 mb-8">
    <h2 class="text-2xl font-bold text-gray-500">
      {post.data.title}
    </h2>
    <span class="text-sm text-gray-400">{formattedDate}</span>
    {imagePath && (
      <Image 
        src={images[imagePath]()}
        alt={post.data.title}
        class="w-full h-auto object-cover my-4"
      />
    )}
    <p class="text-gray-600 my-4">{post.data.intro}</p>
    <a href={`/posts/${post.slug}`} class="text-blue-400 hover:text-blue-600">Read more</a>
  </div>
</div>
<style></style>
